<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li> <a href="/"><span class="glyphicon glyphicon-thumbs-up"> Confirmados</a></span>
            </li>
            <li><a href="/restaurantes"><span class="glyphicon glyphicon-cutlery"> Restaurantes</a></span>
            </li>
            <li><a href="/utilizadores"><span class="glyphicon glyphicon-user"> Utilizadores</a></span>
            </li>
        </ul>
    </div>
</nav>
